body{font-family: "Poppins",
  sans-serif;
color: var(--text-color);}

a{text-decoration: none;}

ul{list-style: none;
margin: 0;
padding-left: 0;}

h1,h2,h3,h4,h5,h6,p{margin: 0;}

button{cursor: pointer;
display: block;}

img{display: block;
max-width: 100%;}

.container{
max-width: 1100px;
padding: 0 15px;
margin: 0 auto;}

:root {--brend-color:#173a56;
--text-color:#22343d;
--green-color:#02897a;
--white-color:#ffffff;
--black-color:#000000;
--easy-color:#2f281e;
--clients-color:#737373;
--designer-color:#252b42;
--active:#4d8dff;}


/* HEADER */

.page-header{padding-bottom: 25px;}

.box-header {display: flex;
  align-items: center;}

.box-logo {
  display: flex;
  align-items: center;}

  .img-logo{margin-right: 16px;}

    .img-logo:hover,
    .img-logo:focus{border-color: var(--active);
      outline: 3px solid #4d8dff;}

.logo{
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color:var(--brend-color);
margin-right: 237px;
padding: 26px 0;}

.logo:hover,
.logo:focus{text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--active);}

.list-nav{display: flex;
gap: 30px;}

.link-nav{padding: 26px 0;}

.link-nav {
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);}

  .link-nav.active{font-weight: 600;}

  .link-nav:hover,
  .link-nav:focus{text-decoration: underline;
    text-decoration-thickness: 3px;
  text-decoration-color:var(--active);}

.list-sign{display: flex;
margin-left: auto;
gap: 21px;}

.item-sign{padding: 19px 0;}

.btn-in{min-width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
    border-radius: 4px;
background: #ffffff;
  font-weight: 600;
  text-align: center;
  color: var(--brend-color);}
  
  .btn-up{min-width: 113px;
    height: 42px;
  border-radius: 4px;
background-color:var(--green-color);
  font-weight: 600;
  color: var(--white-color);
border: 0px solid transparent;}

.btn{padding: 9px 24px 9px 24px;}

.btn:hover,
.btn:focus{border-color: var(--active);
outline: 3px solid #4d8dff;}



/* HERO */

.section-hero{padding-bottom: 100px;}

.box-hero{display: flex;}

.box-t-hero{width: 465px;
margin-right: 35px;}

  .title-hero{font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
padding-top: 112px;}

.text-title{font-size: 18px;
  line-height: 1.5;
margin-bottom: 45px;}

.img-hero{margin-left: auto;
padding-top: 36px;}

.list-hero{display: flex;
gap: 30px;
justify-content: center;
align-items: center;}

.btn-hero{
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
background-color:  var(--green-color);
border: none;
font-weight: 700;
  color:var(--white-color);
padding: 17px 42px;
border: 0px solid transparent;}



  .btn-link {
      display: inline-flex;
      font-weight: 600;
      font-size: 16px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      background: none;
      border: 0px solid transparent;
      padding: 0;
      color: var(--green-color);
      cursor: pointer;}
    
  /* PRODUKT */

  .section-produkt{padding-bottom: 50px;}

  .title-produkt{text-align: center;
max-width: 539px;
margin: 0 auto;
margin-bottom: 50px;}

  .title-main{font-size: 32px;}

  .list-produkt{display: flex;
  margin-bottom: 50px;}

  .title-product{font-weight: 600;
    font-size: 22px;
margin-bottom: 13px;}

.text{ line-height: 1.6;}

  .btn-product{border-radius: 4px;
    min-width:175px;
    height: 53px;
    background-color: var(--green-color);
    border: none;
    font-weight: 700;
    color: var(--white-color);
    padding: 17px 42px;
    border: 0px solid transparent;
  margin: 0 auto;}

.btn-product:hover,
.btn-product:focus{border-color: var(--active);
          outline: 3px solid #4d8dff;}

          /*  Management */

.section-management{padding-bottom: 100px;}

.box-management{display: flex;
align-items: center;}

.box-title-management{margin-right: 84px;}

.title-management{margin-bottom: 25px;}

.span{font-weight: 600;
font-size: 16px;
margin-bottom: 8px;}

.text-management{margin-bottom: 30px;}

.list-management{display: flex;
  flex-direction: column;
  gap: 25px;}

.title-small{font-weight: 600;
  font-size: 16px;
line-height: 1.6;
margin-bottom: 12px;}


/* Customer Support */