

/* CUSTOPERS PAGE */


.section-our-clients{padding-top: 75px;
padding-bottom: 141px;}

.our-clients{font-size: 40px;
text-align: center;
margin-bottom: 50px;}

.list-our-clients{display: flex;
gap: 64px;
justify-content: center;}

.item-our-clients{width: calc((100% - 192px) / 4);}


/* section Why Choose Product? */



.section-why{background-color: #f5f5f5;
padding: 24px 145px 68px 145px;}


.icon-why{border-radius: 19px;
  width: 50px;
  height: 50px;
  background-color: #02897a;
padding: 16px 15px;
fill: var(--white-color);
margin: 0 auto 32px;}

.icon-why.blue{background-color:#4d8dff;}

.icon-why.red{background-color:#f03e3d;}

.title-why{margin-bottom: 50px;
text-align: center;}

.title-customers{font-size: 34px;
text-align: center;}

.list-why{display: flex;
gap: 30px;
align-items: center;
justify-content: center;}

.item-why{width: calc((100% - 60px) / 3);
border: 1px solid #dedede;
border-radius: 10px;
padding: 32px 38px 34px 38px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.title-organize{margin-left: -20px;
margin-right: -20px;}

.title-why-small{font-size: 24px;
line-height: 1.4;
text-align: center;
margin-bottom: 16px;
text-align: center;}

.text-why{line-height: 1.7;
letter-spacing: 0.01em;
text-align: center;}


/* section-how */

.section-why{}

.title-how{padding-top: 101px;
margin-bottom: 73px;}

.item-how{display: flex;
justify-content: space-between;}

.item-how:not(:nth-child(3)){margin-bottom: 100px;}

.item-how:last-child{margin-bottom: 78px;}

.box-how{max-width: 438px;}

.text-step{font-weight: 500;
font-size: 20px;
margin-bottom: 16px;}

.title-review{font-weight: 600;
font-size: 24px;
margin-bottom: 16px;}

.text-review{line-height: 1.7;}

.btn-how{border-radius: 8px;
width: 224px;
height: 44px;
border: none;
background-color:var(--green-color);
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
color:var(--white-color);
margin: 0 auto;}


/* section-join */


.section-join{
background-image: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
margin-top: 127px;
padding-bottom: 138px;}

.title-customers.title-join{padding-top: 23px;
margin: 0 auto 93px;}


.box-img-join{margin-bottom: 27px;}


.img-join{border-radius: 100%;
border: none;}

.list-join {
  display: flex;
justify-content: center;
  align-items: center;
  gap: 227px;
}

.item-join{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.title-join-small{font-weight: 500;
font-size: 24px;
line-height: 1.2;
text-align: center;
color:var(--black-color);
margin-bottom: 16px;}

.text-loin{font-size: 18px;
line-height: 1.8;
text-align: center;
max-width: 184px;
margin-bottom: 12px;}

.title-find{font-weight: 500;
font-size: 16px;
line-height: 1.7;
color:var(--black-color);
}

.section-compannies-customers{padding-top: 115px;
padding-bottom: 150px;}


/* PRICING PAGE */



.section-pricing{padding-top: 50px;
padding-bottom: 130px;}

.title-pricing{font-weight: 600;
font-size: 24px;
text-align: center;
margin-bottom: 32px;}

.title-pricing-big{font-size: 40px;
text-align: center;
margin-bottom: 16px;}

.text-pricing{margin-bottom: 50px;}

/* section-interprise */


.section-interprise{
  background-image: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
padding-bottom: 51px;
padding-top: 53px;}

.title-enterprise{font-size: 34px;
text-align: center;
margin-bottom: 8px;}

.text-interprise{font-size: 18px;
  text-align: center;
margin-bottom: 32px;}

.btn-interprise{border-radius: 8px;
width: 224px;
height: 44px;
background-color: var(--green-color);
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
color: var(--white-color);
border: none;
margin: 0 auto;}


/* section-alongside */

.section-alongside{padding-top: 314px;}

.title-along{margin-bottom: 56px;}

.box-icon-interprise{display: flex;
gap: 14px;}

.title-alongside{font-weight: 600;
font-size: 24px;
margin-bottom: 23px;}

.text-alongside{line-height: 1.7;}

.box-alongside{display: flex;
justify-content: center;}

.list-alongside{display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 543px;
margin-left: 60px;}


/* section-question */


.section-question{padding-bottom: 22px;
padding-top: 6px;}

.tile-asked{padding-top: 6px;}

.text-guestion{font-size: 18px;
text-align: center;
margin-bottom: 50px;}

.box-guestion{display: flex;
flex-direction: column;
gap: 16px;
}

.icon-minus{display: none;
  position: absolute;
  top: 0;
  transition: transform var(--transition);
}

.icon-plus{transition: transform var(--transition);

}

.title-guestion{position: relative;
  font-weight: 500;
font-size: 18px;
border-bottom: 1px solid #e7e7e7;
margin-bottom: 14px;
padding-bottom: 22px;
list-style: none;
display: flex;
align-items: center;
gap: 16px;
cursor: pointer;
  transition: transform var(--transition);
}

details[open] .title-guestion {
  border-bottom: none;
  
}
details[open]{border-bottom: 1px solid #e7e7e7;}



details[open] .icon-plus {
  opacity: 0;
 
}
details[open] .icon-minus {
  display: block;
 
}





.text-askd{margin-bottom: 40px;}



/* section-compannies-pricing */

.section-compannies-pricing{padding: 150px 0;}




/* PAGE RESOURSE */

/*section great-business */



.great-business{padding-top: 77px;
padding-bottom: 67px;}


.box-great-business{display: flex;}

.box-busines-text{display: flex;
flex-direction: column;
gap: 24px;}

.title-great{max-width: 380px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.49;
  letter-spacing: -0.03em;
color:var(--text-color) ;}



.text-great{max-width: 535px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  color: var(--text-color);}

  .form-resources{position: relative;
    margin-bottom: 24px;
  }


.input-resources {
  width: 469px;
  height: 66px;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  padding-left: 21px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--text-color);
  background-color: var(--white-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-resources::placeholder {
  line-height: 1;
  letter-spacing: -0.03em;
}

.input-resources:hover,
.input-resources:focus {
  outline: 2px solid #4d8dff;
  ;
  border: none;
}

.btn-resources {position: absolute;
top: 50%;
  right: 14%;
  transform: translateY(-50%);
  border-radius: 100px;
  border: none;
  background: #02897a;
  width: 117px;
  height: 50px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.box-great-business-img{

}

.box-img-join-business{
position: relative;
}

.img-man-great{border-radius: 100%;
position: absolute;
}

.img-man-great-1 {
top: 50%;
  z-index: 1;
}

.img-man-great-2 {
top: 50%;
  left: 5%;
  z-index: 2;

}

.img-man-great-3 {
  top: 50%;
  left: 12%;
  z-index: 3;}

.text-great-img{
margin-left: 120px;
padding-top: 50px;
color: var(--text-color);
}

.span-join-great{font-weight: 500;
  color:var(--green-color);}



/* section-latest-stories */

.latest-stories{padding-bottom: 100px;}

.title-stories{
  font-size: 34px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.text-stories{
  font-weight: 500;
  line-height: 1.62;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 32px;}


.list-stories{flex-wrap: wrap;
gap: 32px 32px;
margin-bottom: 32px;}

.item-stories{width: calc((100% - 64px) / 3);
}

.box-more{
display: flex;
align-items: center;
justify-content: center;
}

.text-more{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: var(--text-color);
margin-right: 8px;}

.icon-circle{fill: #2e3a59;}

.link-more{cursor: pointer;}



/* section-contact-us */

.section-contact-us{padding-top: 50px;
padding-bottom: 100px;
max-width: 871px;
margin: 0 auto;}

.title-contact-us{
font-weight: 700;
font-size: 34px;
line-height: 1.68;
letter-spacing: 0.01em;
text-align: center;
color: var(--designer-color);
margin-bottom: 17px;}

.text-contact-us{font-weight: 500;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.01em;
text-align: center;
margin: 0 auto;
color: #374754;
max-width: 332px;
margin-bottom: 55px;}

.list-icon-footer.list-contact-us{display: flex;
justify-content: center;
margin-bottom: 56px;}

.item-icon-footer.item-contact-us{width: 50px;
height: 50px;}

.pic-contact-us{max-width: 871px;
height: 343px;
margin: 0 auto 50px;}

.form{border: 1px solid #ddd;
border-radius: 20px;
padding: 52px 50px;
width: 868px;
margin: 0 auto;}

.title-send-contact-us{font-size: 24px;
line-height: 1.37;
letter-spacing: 0em;
color: var(--designer-color);
text-align: center;
margin-bottom: 45px;}

.label{display: block;}

.input{border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  width: 100%;
  height: 54px;
  background-color: #f5f5f5;
margin-bottom: 45px;
padding: 19px 20px;
font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  color: var(--text-color);
outline: transparent;}

.textarea{border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 100%;
  height: 193px;
background-color: #f5f5f5;
padding: 23px 20px;
outline: transparent;
margin-bottom: 45px;
resize: none;}

.input::placeholder{
font-weight: 400;
font-size: 15px;
line-height: 1.07;
letter-spacing: 0.01em;
color: var(--text-color);}

.btn-form{border-radius: 35px;
width: 145px;
height: 52px;
background-color: var(--green-color);
border: none;
font-weight: 500;
line-height: 1;
letter-spacing: 0.01em;
color: #ffffff;}

