body{font-family: "Poppins",
  sans-serif;
color: var(--text-color);}

a{text-decoration: none;}

ul{list-style: none;
margin: 0;
padding-left: 0;}

h1,h2,h3,h4,h5,h6,p{margin: 0;}

button{cursor: pointer;
display: block;}

img{display: block;
max-width: 100%;}

.container{
max-width: 1115px;
padding: 0 15px;
margin: 0 auto;
width: 100%;}

:root {--brend-color:#173a56;
--text-color:#22343d;
--green-color:#02897a;
--white-color:#ffffff;
--black-color:#000000;
--easy-color:#2f281e;
--clients-color:#737373;
--designer-color:#252b42;
--active:#4d8dff;}

.link {color: inherit;}


/* HEADER */

.page-header{padding-bottom: 25px;}

.box-header {display: flex;
align-items: center;}

.box-logo {
display: flex;
align-items: center;}

.img-logo{margin-right: 16px;}

.img-logo:hover,
.img-logo:focus{border-color: var(--active);
outline: 3px solid #4d8dff;}

.logo{
font-weight: 700;
font-size: 30px;
line-height: 1;
color:var(--brend-color);
margin-right: 237px;
padding: 26px 0;}

.logo:hover,
.logo:focus{text-decoration: underline;
text-decoration-thickness: 3px;
text-decoration-color: var(--active);}

.list-nav{display: flex;
gap: 30px;}


.link-nav {display: inline-block;
font-weight: 400;
line-height: 1.75;
padding: 26px 0;}

.link-nav.active{font-weight: 600;}

.link:hover,
.link:focus{text-decoration: underline;
text-decoration-thickness: 3px;
text-decoration-color:var(--active);}

.list-sign{display: flex;
margin-left: auto;
gap: 21px;}

.item-sign {
padding: 19px 0;}

.btn-in{min-width: 105px;
height: 42px;
border: 1px solid #bcd0e5;
border-radius: 4px;
background: #ffffff;
font-weight: 600;
text-align: center;
color: var(--brend-color);
padding: 9px 23px;}

.btn-up{min-width: 113px;
height: 42px;
border-radius: 4px;
background-color:var(--green-color);
font-weight: 600;
color: var(--white-color);
border: none;
padding: 9px 24px;}

/* .btn{padding: 9px 24px;} */

.btn:hover,
.btn:focus{border-color: var(--active);
outline: 3px solid #4d8dff;}



/* HERO */

.section-hero{padding-bottom: 100px;}

.box-hero{display: flex;}

.box-t-hero{width: 465px;
margin-right: 35px;}

.title-hero{font-size: 40px;
line-height: 1.5;
margin-bottom: 18px;
padding-top: 112px;
justify-content: center;}

.text-hero{font-size: 18px;
line-height: 1.5;
margin-bottom: 45px;}

.img-hero{margin-left: auto;
padding-top: 36px;}

.list-hero{display: flex;
gap: 30px;
align-items: center;}

.btn-hero{
border-radius: 4px;
min-width: 178px;
height: 53px;
background-color:  var(--green-color);
border: none;
font-weight: 700;
color:var(--white-color);
padding: 17px 42px;
border: none;}



.btn-link {
display: inline-flex;
font-weight: 600;
text-decoration: underline;
text-decoration-skip-ink: none;
background: none;
border: none;
padding: 0;
color: var(--green-color);
cursor: pointer;}

/* PRODUKT */

.section-produkt{padding-bottom: 50px;}

.title-produkt{text-align: center;
max-width: 539px;
margin: 0 auto;
margin-bottom: 50px;}

.title-main{font-size: 32px;}

.list-produkt{display: flex;
margin-bottom: 50px;
gap: 30px;}

.item-produkt{width: calc((100% - 90px) / 4);}

.title-product{font-weight: 600;
font-size: 22px;
margin-bottom: 13px;}

.text{ line-height: 1.6;}

.btn-product{border-radius: 4px;
min-width:175px;
height: 53px;
background-color: var(--green-color);
border: none;
font-weight: 700;
color: var(--white-color);
padding: 17px 42px;
border: none;
margin: 0 auto;}


/*  Management */

.section-management{padding-bottom: 100px;}

.box-management{display: flex;
align-items: center;}

.box-title-management{margin-right: 84px;}

.title-management{margin-bottom: 25px;}

.span{font-weight: 600;
font-size: 16px;
margin-bottom: 8px;}

.text-management{margin-bottom: 30px;}

.list-group{display: flex;
flex-direction: column;
gap: 25px;}

.title-small{font-weight: 600;
font-size: 16px;
line-height: 1.6;
margin-bottom: 12px;}




/* Customer Support */

.section-support{padding-bottom: 100px;}

.box-support{display: flex;
align-items: center;}

/* .img-support{margin-right: auto;} */

.box-title-support{margin-left: 84px;}

/* section-collaborative */

.section-collaborative{padding-bottom: 150px;}


/* section-process */


.section-process{padding-bottom: 100px;}

.title-process{text-align: center;
margin-bottom: 25px;}

.text-process{font-weight: 500;
max-width: 542px;
margin: 0 auto;
text-align: center;
margin-bottom: 40px;}

.list-process{margin: 0 auto;}

.box{display: flex;
justify-content: space-between;}

.box-1{display: flex;
align-items: center;}

.box-2{max-width: 916px;}



.reverse{flex-direction: row-reverse;}


.text-can{font-weight: 500;
color: #2f281e;
border: 1px solid #dedede;
border-radius: 50px;
padding: 14px 20px;
background: var(--white-color);
height: 50px;
min-width: 281px;
text-align: center;}

.m-right{margin-right: 10px;}

.m-left{margin-left: 10px;}

.btn-process{border-radius: 4px;
min-width: 216px;
height:53px;
background-color: var(--green-color);
border: none;
font-weight: 700;
color: var(--white-color);
padding: 15px 30px;
border: none;
margin:50px auto 0;}


/* Contents Strategies */

.section-strategies{padding-bottom: 171px;}

.title-strategies{font-size: 34px;
margin-bottom: 10px;}

.text-strategies{max-width: 465px;
margin-bottom: 40px;}

.list-strategies{display: flex;
gap: 30px;}

.item-strategies{width: calc((100% - 60px) / 3);
border: 1px solid #dedede;
border-radius: 8px;}

.img-strategies{padding-bottom: 24px;}

.text-strategies{line-height: 1.7;
margin-bottom: 12px;
padding-left: 24px;}

.title-success{font-size: 24px;
line-height: 1.7;
padding-bottom: 40px;
padding-left: 27px;}

.title-green{color: var(--green-color);}


/* section-price */

.section-price{padding-bottom: 100px;}

.title-price{font-size: 34px;
text-align: center;
margin-bottom: 10px;}

.text-price{font-weight: 500;
margin-bottom: 40px;
text-align: center;}

.list-price{display: flex;
gap: 72px;
text-align: center;
justify-content: center;}

.item-price{border-radius: 8px;
border: 1px solid #dedede;
  max-width: 322px;
padding: 32px 72px;
background: var(--white-color);}

.item-second{background: var(--green-color);
color: var(--white-color);}

.title-card{font-size: 24px;
line-height: 1.7;
margin-bottom: 8px;}

.text-card{line-height: 2.5;
font-family: "Montserrat", sans-serif;
margin-bottom: 16px;}

.box-card{display: flex;
align-items: center;}

.number{font-family: "Montserrat", sans-serif;
font-size: 76px;
line-height: 1.3;
text-align: center;
color: var(--green-color);
margin-right: 8px;}

.number-2{color: var(--white-color);}

.dollar{font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1.2;
color: var(--green-color);}

.dollar-2{color: var(--white-color);}

.text-month{font-family: "Montserrat", sans-serif;
line-height: 1.2;
letter-spacing: 0.01em;
color: #afafaf;}

.text-month-2{color: #e0e0e0;}

.list-card{margin-top: 16px;
margin-bottom: 30px;
display: flex;
flex-direction: column;
gap: 16px;}

.title-card-item{font-family: "Montserrat", sans-serif;
font-weight: 500;
line-height: 1.4;
letter-spacing: 0.01em;}

.text-white{color: var(--white-color);}

.btn-card {font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
color:var(--white-color);
border-radius: 8px;
min-width: 139px;
height: 44px;
background: var(--green-color);
margin: 0 auto;
border: none;}

.btn-second{background: var(--white-color);
color: var(--green-color);}


/* section-clients */


.section-clients{padding-bottom: 100px;}

.title-clients{font-size: 32px;
line-height: 1.8;
letter-spacing: 0.01em;
text-align: center;
margin-bottom: 10px;}

.text-clients{font-weight: 500;
line-height: 1.7;
letter-spacing: 0.01em;
max-width: 537px;
text-align: center;
margin: 0 auto 40px;}

.list-clients{display: flex;
gap: 64px;}

.item-clients{width: calc((100% - 128px) /3 );
border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 24px;}

.text-clients-product{line-height: 1.8;
letter-spacing: 0.01em;
color: var(--clients-color);
margin-bottom: 16px;}

.item-disigner{display: flex;
align-items: center;}

.img-disigner{margin-right: 14px;}

.title-disigner{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.01em;
color: #02897a;}

.text-disigner{font-weight: 500;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.01em;
color:var(--designer-color);}


/* section-compannies */

.section-compannies{
border-radius: 32px;
  width: 968px;
  height: 345px;
background:var(--green-color);
margin: 0 auto;}

.box-join{padding-left: 51px;}

.title-compannies{font-weight: 600;
font-size: 32px;
line-height: 1.51;
color:var(--white-color);
padding-top: 49px;
margin-bottom: 46px;}

.box-compannies{display: flex;}

.btn-compannies{border-radius: 8px;
min-width: 150px;
height: 50px;
background:var(--white-color);
font-weight: 600;
font-size: 20px;
color:var(--green-color);
border: none;}


/* footer */


.footer{margin-top: 100px;}

.box-footer{display: flex;
justify-content: space-around;}

.box-logo-footer{display: flex;}

.logo-footer{margin-right: 0;
padding: 0;}

.title-footer{font-weight: 500;
font-size: 20px;
line-height: 1.50;}

.link-text{line-height: 2.2;
white-space: nowrap;}

.text-knowing{margin-bottom: 30px;
max-width: 280px;}

.text-form{line-height: 1.7;
color: var(--green-color);}

.btn-footer{min-width: 131px;
height: 39px;
border: none;
font-weight: 700;
text-align: center;
color: var(--white-color);
background: var(--green-color);
padding: 8px 15px;
margin-top: 25px;}

.text-footer{line-height: 1.9;
text-align: center;
padding-bottom: 40px;
margin-top: 10px;}




/* CUSTOPERS PAGE */


.section-our-clients{padding-top: 100px;
padding-bottom: 141px;}

.our-clients{font-size: 40px;
text-align: center;
margin-bottom: 50px;}

.list-our-clients{display: flex;
gap: 64px;
justify-content: center;}

/* .item-our-clients{width: calc((100% - 192px) / 4);} */


/* section Why Choose Product? */

.box-why{background: #f5f5f5;}

.title-why{padding-top: 24px;
margin-bottom: 50px;}

.title-customers{font-size: 34px;
text-align: center;}

.list-why{display: flex;
gap: 30px;
align-items: center;}

.item-why{width: calc((100% - 60px) / 3);}

.title-why-small{font-size: 24px;
line-height: 1.4;
text-align: center;
margin-bottom: 16px;}

.text-why{
line-height: 1.7;
letter-spacing: 0.01em;
text-align: center;}

