

/* PAGE RESOURSE */

/*section great-business */



.great-business{padding-top: 77px;
padding-bottom: 67px;}


.box-great-business{display: flex;}

.box-busines-text{display: flex;
flex-direction: column;
gap: 24px;}

.title-great{max-width: 380px;
  font-size: 40px;
  }



.text-great{max-width: 535px;
  }

  .form-resources{position: relative;
    margin-bottom: 24px;
  }


.input-resources {
  width: 469px;
  
  padding-left: 21px;
 
}





.btn-resources {position: absolute;
top: 50%;
  right: 14%;
  transform: translateY(-50%);
  border-radius: 100px;
  border: none;
  background: #02897a;
  width: 117px;
  height: 50px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.box-great-business-img{

}

.box-img-join-business{
position: relative;
}

.img-man-great{border-radius: 100%;
position: absolute;
}

.img-man-great-1 {
top: 50%;
  z-index: 1;
}

.img-man-great-2 {
top: 50%;
  left: 5%;
  z-index: 2;

}

.img-man-great-3 {
  top: 50%;
  left: 12%;
  z-index: 3;}

.text-great-img{
margin-left: 120px;
padding-top: 50px;
color: var(--text-color);
}

.span-join-great{font-weight: 500;
  color:var(--green-color);}



/* section-latest-stories */

.latest-stories{padding-bottom: 100px;}

.title-stories{
  font-size: 34px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.text-stories{
  font-weight: 500;
  line-height: 1.62;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 32px;}


.list-stories{flex-wrap: wrap;
gap: 32px 32px;
margin-bottom: 32px;}

.item-stories{width: calc((100% - 64px) / 3);
}

.box-more{
display: flex;
align-items: center;
justify-content: center;
}

.text-more{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: var(--text-color);
margin-right: 8px;}

.icon-circle{fill: #2e3a59;}

.link-more{cursor: pointer;}



/* section-contact-us */

.section-contact-us{padding-top: 50px;
padding-bottom: 100px;
max-width: 871px;
margin: 0 auto;}

.title-contact-us{
font-weight: 700;
font-size: 34px;
line-height: 1.68;
letter-spacing: 0.01em;
text-align: center;
color: var(--designer-color);
margin-bottom: 17px;}

.text-contact-us{font-weight: 500;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.01em;
text-align: center;
margin: 0 auto;
color: #374754;
max-width: 332px;
margin-bottom: 55px;}

.list-icon-footer.list-contact-us{display: flex;
justify-content: center;
margin-bottom: 56px;}

.item-icon-footer.item-contact-us{width: 50px;
height: 50px;}

.pic-contact-us{max-width: 871px;
height: 343px;
margin: 0 auto 50px;}

.form{border: 1px solid #ddd;
border-radius: 20px;
padding: 52px 50px;
width: 868px;
margin: 0 auto;}

.title-send-contact-us{font-size: 24px;
line-height: 1.37;
letter-spacing: 0em;
color: var(--designer-color);
text-align: center;
margin-bottom: 45px;}

.label{display: block;}

.input{border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  width: 100%;
  height: 54px;
  background-color: #f5f5f5;
margin-bottom: 45px;
padding: 19px 20px;
font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  color: var(--text-color);
outline: transparent;}

.textarea{border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 100%;
  height: 193px;
background-color: #f5f5f5;
padding: 23px 20px;
outline: transparent;
margin-bottom: 45px;
resize: none;}

.input::placeholder{
font-weight: 400;
font-size: 15px;
line-height: 1.07;
letter-spacing: 0.01em;
color: var(--text-color);}

.btn-form{border-radius: 35px;
width: 145px;
height: 52px;
background-color: var(--green-color);
border: none;
font-weight: 500;
line-height: 1;
letter-spacing: 0.01em;
color: #ffffff;}

